# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
web/.next/
web/out/
web/build/
web/.vercel/
web/.open-next/
web/.wrangler/

# Env / secrets
.env
.env.*
!.env.example
.dev.vars
web/.dev.vars
*.pem

# Debug / OS
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
web/next-env.d.ts

# IDE
.idea/
.vscode/
